/* GENERAL RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/****************/
/*** GENERAL  ***/
/****************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

h1,
h2,
h3 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Kalam", cursive;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 28px;
}


/**********************/
/*** HEADER WEBSITE ***/
/**********************/


.nav-link {
    font-size: 1.2rem;
    letter-spacing: 1.1px;
  }
  
  #navbarNav a:hover {
    color: red;
    transition: 0.3s;
  }
  
  @media (min-width: 992px) {
    .icons-div {
      padding-left: 2rem;
    }
  }
  .icons {
    width: 32px;
  }
  
  #logo {
    width: 95px;
    cursor: pointer;
  }
  
  /********************/
  /*** HOMEPAGE NAV ***/
  /********************/
  
  .homepage-nav-link {
    color: white;
  }
  

  
/*********************/
/*** PAGE ACCUEIL  ***/
/*********************/

.home-title {
    color: white;
    font-size: clamp(2rem, 5.5vw, 10rem);
    font-weight: 600;
    /* line-height: 4rem; */
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("/images/home-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .sub-title {
    background-color: rgba(238, 255, 0, 0.274);
    text-transform: uppercase;
    padding: 2px 12px;
}


/***************/
/*** FOOTER  ***/
/***************/


.footer-homepage  {
    position: fixed;
    padding-bottom: 1rem;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}